.tabu {
  display: flex;
  flex-direction: column;
}

.tabu-linha {
  display: flex;
  flex-direction: row;
}

.casa {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  font-size: 60px;
  border: 1px solid black;
}